<!DOCTYPE html>                                                           
<html>
  <head>
      <title>Response</title>
      <!-- <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet"> -->
  </head>
  <body>
      <div class="header">
          <h1>Response</h1>
          <p>Some description ....</p>
      </div>

      <div class="kg">
       <div id="container" style="width: 800px; height: 600px;"></div>
        <script src="/static/kg_vis.js"></script>
      </div>

      <div class ="rag">
        <p>{{ rag }}</p>
      </div>
  </body>
</html>
